@model Models.ViewModels.Home
@using System.Security.Claims
@{
    var nombre = User.FindFirst("Nombre")?.Value;
    var nombreUsuario = User.FindFirst("NombreUsuario")?.Value;
    var apellido1 = User.FindFirst("Apellido1")?.Value;
    var apellido2 = User.FindFirst("Apellido2")?.Value;
    var cedula = User.FindFirst("Cedula")?.Value;
    var urlImagen = User.FindFirst("UrlImagen")?.Value;
	var rol = User.FindFirst(ClaimTypes.Role)?.Value ?? "Usuario";
	var email = User.FindFirst(ClaimTypes.Email)?.Value;

}
<link rel="stylesheet" href="~/Home/styles.css" asp-append-version="true" />
<div class="libros-fondo" style="background-image: url('/Home/resources/fondoHomepage.png');"></div>

<header class="d-flex align-items-center gap-2 mt-5 ms-5 ">
    <!-- Logo -->
    <img src="/Home/resources/Logo.png" alt="Logo" style="max-height: 50px;" />
    <div class="d-flex flex-column lh-sm">
        <span style="font-family: 'Merriweather', serif; color: #8C2445; font-weight: bold;  font-size: 1rem;">SABER Y</span>
        <span style="font-family: 'Merriweather', serif; font-weight: 900; font-size: 1rem;">CULTURA</span>
    </div>
</header>

<nav class="mt-5 ms-5 mb-5 ps-2">
    <h2 class="mb-0" style="font-family: sans-serif; font-size: 2.5rem; font-weight: 200;">
        Bienvenido/a <br>
        <span style="color: #8C2445; font-weight: 200;">@nombreUsuario</span>, a Saber Y Cultura
    </h2>
</nav>

<main class="container-fluid mt-5 ms-5  pt-3">
    <div class="row">
        <!-- Botones Principales -->
        <div class="col-md-3 mb-4 ">
            <h6 class="mb-2 subtitulo">¿Qué necesitas hacer hoy?</h6>

            <a class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom " asp-controller="Prestamo" asp-action="Index">
                <i class="bi  bi-journal-bookmark"></i> Gestión de Préstamos
            </a>

            <a class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom" asp-controller="Cliente" asp-action="Index">
                <i class="bi bi-people"></i> Gestión de Clientes
            </a>

            <a class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom" asp-controller="Libro" asp-action="Index">
                <i class="bi bi-book"></i> Gestión de Libros
            </a>
        </div>

        <!-- Información de usuario -->
        <div class="col-md-3 mb-2 informacion-usuario">
            <h6 class="mb-2 subtitulo">Información de Usuario</h6>

            <div class="card text-center p-4 usuario-card">
                <i class="bi bi-person-circle" style="font-size: 4rem; margin-bottom: 0.5rem;"></i>
                <h6 class="mb-0">@nombreUsuario</h6>
                <span class="text-muted mb-3 mt-1">@rol</span>

                <button class="btn w-100 mb-2 d-flex align-items-center boton-custom" data-bs-toggle="modal" data-bs-target="#perfilModal">
                    <i class="bi bi-info-circle"></i> Ver Perfil
                </button>
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="w-100">
                    @Html.AntiForgeryToken()
                    <button class="btn w-100 d-flex align-items-center boton-custom">
                        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                    </button>
                </form>
            </div>
        </div>

        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="/Home/resources/ArbolHome.png" alt="Ilustración" class="imagen-arbol">
        </div>
    </div>

    <!-- Resumen General -->
    <h6 class="mb-2 mt-0 subtitulo text-muted">Resumen General</h6>

    <div class="row resumen-general">
        <div class="col-1">
            <div class="resumen d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="mb-1 text-muted mt-0">Libros</h6>
                    <h4 class="mb-0">@Model.cantidadLibros</h4>
                </div>
                <i class="bi bi-book resumen-icono-derecha"></i>
            </div>
        </div>
        <div class="col-1">
            <div class="resumen d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="mb-1 text-muted mt-0">Préstamos</h6>
                    <h4 class="mb-0">@Model.cantidadPrestamos</h4>
                </div>
                <i class="bi bi-briefcase resumen-icono-derecha"></i>
            </div>
        </div>
        <div class="col-1">
            <div class="resumen d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="mb-1 text-muted mt-0">Clientes</h6>
                    <h4 class="mb-0">@Model.cantidadClientes</h4>
                </div>
                <i class="bi bi-person-vcard resumen-icono-derecha"></i>
            </div>
        </div>
        <div class="col-1">
            <div class="resumen d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="mb-1 text-muted mt-0">Usuarios</h6>
                    <h4 class="mb-0">@Model.cantidadUsuarios</h4>
                </div>
                <i class="bi bi-people resumen-icono-derecha"></i>
            </div>
        </div>
    </div>
</main>

<!-- MODAL -->
<div class="modal fade" id="perfilModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" style="border-radius: 10px; overflow: hidden; position: relative;">
            <div class="modal-header justify-content-between px-5 py-4" style="background-color: #8C2445; color: white;">
                <div class="d-flex align-items-center gap-2">
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="outline: none; box-shadow: none;"></button>
            </div>
            <div class="fotito">
                <i class="bi bi-person-circle text-dark" style="font-size: 5rem;"></i>
            </div>

            <div class="modal-body p-5">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label text-muted ms-1 mb-0">Nombre</label>
                        <input type="text" class="form-control" value="@nombre" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted ms-1 mb-0">Primer Apellido</label>
                        <input type="text" class="form-control" value="@apellido1" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted ms-1 mb-0">Segundo Apellido</label>
                        <input type="text" class="form-control" value="@apellido2" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0">Correo Electrónico</label>
                        <input type="email" class="form-control" value="@email" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0">Número de Teléfono</label>
                        <input type="tel" class="form-control" value="71839433" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0 ">Número de Cédula</label>
                        <input type="text" class="form-control" value="@cedula" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0">Nombre de Usuario</label>
                        <input type="text" class="form-control" value="@nombreUsuario" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0">Contraseña</label>
                        <input type="password" class="form-control" value="******" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted ms-1 mb-0">Confirmar Contraseña</label>
                        <input type="password" class="form-control" value="******" readonly>
                    </div>
                    <div class="col-12">
                        <label class="form-label fw-bold text-muted">Rol: @rol</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" style="background-color: #8C2445; border: none;" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
